src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/SpaceLocsDesc/v1/SpaceLocsDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/SpaceLocsDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/SpaceLocsDesc/v1" xmlns:ExtOfSpaceLocsDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfSpaceLocsDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfSpaceLocsDesc/v1" schemaLocation="../../../../custom/bo/ExtOfSpaceLocsDesc/v1/ExtOfSpaceLocsDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="SpaceLocsDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from_location" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="to_location" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="locationid" type="varchar212">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="locationtype" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="itemid" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="unitcapacity" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="zone" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="locationstatus" type="varchar211">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="putawaysequence" type="number8">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="picksequence" type="number8">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="description" type="varchar260">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="containercapacity" type="number5">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="unitpiclocflag" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="casepicklocflag" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="length" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="width" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="height" type="number6_2">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="maxstdunits" type="number8">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="volumetype" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="unitcost" type="number9_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="zonedescription" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="pickpriority" type="number3">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="region" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="workarea" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfSpaceLocsDesc:ExtOfSpaceLocsDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize SpaceLocsDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number3">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number8">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 8.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar220">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number5">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 5.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6_2">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 6_2.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="6"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number9_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 9_4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="9"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar260">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 60 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar211">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 11 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>