src/main/resources/schema/ModeloCanonico/EBS/CeA/cartaopresente/consultar/ConsultarSaldoCartaoPresente_v1.wsdl

<definitions name="ConsultarSaldoCartaoPresente" targetNamespace="http://www.cea.com.br/EBS/CEA/cartaopresente/saldo/v1" xmlns:tns="http://www.cea.com.br/EBS/CEA/cartaopresente/saldo/v1" xmlns:ebo="http://www.cea.com.br/EBO/CEA/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.cea.com.br/EBS/CEA/cartaopresente/saldo/v1" schemaLocation="ConsultarSaldoCartaoPresenteEBS_v1.xsd"/>

			<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="../../../../EBO/CeA/v1/fault/BusinessFaultEBO_v1.xsd"/>
			<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="../../../../EBO/CeA/v1/fault/TechnicalFaultEBO_v1.xsd"/>
		</xsd:schema>
	</types>
	
	<!-- Operacao Consultar Saldo Cartao Presente -->
	<message name="ConsultarSaldoRequestMsg">
		<part name="request" element="tns:ConsultarSaldoRequest"/>
	</message>
	<message name="ConsultarSaldoResponseMsg">
		<part name="response" element="tns:ConsultarSaldoResponse"/>
	</message>
	
	<!-- Faults -->
	<message name="TechnicalFaultMsg">
		<part name="TechnicalFault" element="ebo:TechnicalFault"/>
	</message>
	<message name="BusinessFaultMsg">
		<part name="BusinessFault" element="ebo:BusinessFault"/>
	</message>	
	
	<portType name="ConsultarSaldoCartaoPresentePortType">
		<operation name="consultarSaldo">
			<input message="tns:ConsultarSaldoRequestMsg"/>
			<output message="tns:ConsultarSaldoResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>
	</portType>

	<binding name="ConsultarSaldoCartaoPresenteBinding" type="tns:ConsultarSaldoCartaoPresentePortType">
	
		<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
		
		<operation name="consultarSaldo">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>
			
	</binding>

	<service name="ConsultarSaldoCartaoPresenteService">
		<port name="ConsultarSaldoCartaoPresentePort" binding="tns:ConsultarSaldoCartaoPresenteBinding">
			<soap12:address location="http://localhost:8080/cartaopresentews/service"/>
		</port>
	</service>

</definitions>