src/main/resources/schema/ModeloCanonico/EBS/CeA/sit/precos/ManterPrecos_v1.wsdl

<definitions name="ManterPrecos" targetNamespace="http://www.cea.com.br/EBS/CEA/precos/manter/precos/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.cea.com.br/EBS/CEA/precos/manter/precos/v1" xmlns:ebo="http://www.cea.com.br/EBO/CEA/v1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.cea.com.br/EBS/CEA/precos/manter/precos/v1" schemaLocation="ManterPrecosEBS_v1.xsd"/>
		</xsd:schema>
		 <xsd:schema><xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/ClrPrcChgDesc/v1" schemaLocation="../../../../rib/retail/integration/base/bo/ClrPrcChgDesc/v1/ClrPrcChgDesc.xsd"/></xsd:schema>
			<xsd:schema><xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/RegPrcChgDesc/v1" schemaLocation="../../../../rib/retail/integration/base/bo/RegPrcChgDesc/v1/RegPrcChgDesc.xsd"/></xsd:schema>
			<xsd:schema><xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/ClrPrcChgRef/v1" schemaLocation="../../../../rib/retail/integration/base/bo/ClrPrcChgRef/v1/ClrPrcChgRef.xsd"/></xsd:schema>
			<xsd:schema><xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/RegPrcChgRef/v1" schemaLocation="../../../../rib/retail/integration/base/bo/RegPrcChgRef/v1/RegPrcChgRef.xsd"/></xsd:schema>
		
	</types>
<!-- By Group -->
	<message name="ManterPrecosLiquidacaoRequestMsg">
		<part name="request" element="tns:ManterPrecosLiquidacaoRequest"/>
	</message>
	<message name="ManterPrecosLiquidacaoResponseMsg">
		<part name="response" element="tns:ManterPrecosLiquidacaoResponse"/>
	</message>

	<message name="RemoverPrecosLiquidacaoRequestMsg">
		<part name="request" element="tns:RemoverPrecosLiquidacaoRequest"/>
	</message>
	<message name="RemoverPrecosLiquidacaoResponseMsg">
		<part name="response" element="tns:RemoverPrecosLiquidacaoResponse"/>
	</message>
	
	<message name="ManterPrecosRegularesRequestMsg">
		<part name="request" element="tns:ManterPrecosRegularesRequest"/>
	</message>
	<message name="ManterPrecosRegularesResponseMsg">
		<part name="response" element="tns:ManterPrecosRegularesResponse"/>
	</message>

	<message name="RemoverPrecosRegularesRequestMsg">
		<part name="request" element="tns:RemoverPrecosRegularesRequest"/>
	</message>
	<message name="RemoverPrecosRegularesResponseMsg">
		<part name="response" element="tns:RemoverPrecosRegularesResponse"/>
	</message> 
	
	<message name="ManterPrecosItemLocRequestMsg">
		<part name="request" element="tns:ManterPrecosItemLocRequest"/>
	</message>
	<message name="ManterPrecosItemLocResponseMsg">
		<part name="response" element="tns:ManterPrecosItemLocResponse"/>
	</message>
	
	<message name="TechnicalFaultMsg">
		<part name="TechnicalFault" element="ebo:TechnicalFault"/>
	</message>
	<message name="BusinessFaultMsg">
		<part name="BusinessFault" element="ebo:BusinessFault"/>
	</message>	

	
	<portType name="ManterPrecosPortType">

		 <operation name="manterPrecosLiquidacao">
			<input message="tns:ManterPrecosLiquidacaoRequestMsg"/>
			<output message="tns:ManterPrecosLiquidacaoResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>

		<operation name="removerPrecosLiquidacao">
			<input message="tns:RemoverPrecosLiquidacaoRequestMsg"/>
			<output message="tns:RemoverPrecosLiquidacaoResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>
		
		<operation name="manterPrecosRegulares">
			<input message="tns:ManterPrecosRegularesRequestMsg"/>
			<output message="tns:ManterPrecosRegularesResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>

		<operation name="removerPrecosRegulares">
			<input message="tns:RemoverPrecosRegularesRequestMsg"/>
			<output message="tns:RemoverPrecosRegularesResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/> 
		</operation> 
		
		<operation name="manterPrecosItemLoc">
			<input message="tns:ManterPrecosItemLocRequestMsg"/>
			<output message="tns:ManterPrecosItemLocResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>
		
	</portType>

	<binding name="ManterPrecosBinding" type="tns:ManterPrecosPortType">
		<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
		 <operation name="manterPrecosLiquidacao">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>	
		
		<operation name="removerPrecosLiquidacao">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>
		
		<operation name="manterPrecosRegulares">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>	
		
		<operation name="removerPrecosRegulares">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation> 
		
		<operation name="manterPrecosItemLoc">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>	
	</binding>

	<service name="ManterPrecosService">
		<port name="ManterPrecosPort" binding="tns:ManterPrecosBinding">
			<soap12:address location="http://localhost:7001/wsintegracaoprecos/service/manterPrecosV1"/>
		</port>
	</service>

</definitions>