src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/DSDReceiptDesc/v1/DSDReceiptDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/DSDReceiptDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/DSDReceiptDesc/v1" xmlns:ExtOfDSDReceiptDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfDSDReceiptDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfDSDReceiptDesc/v1" schemaLocation="../../../../custom/bo/ExtOfDSDReceiptDesc/v1/ExtOfDSDReceiptDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="DSDDtl">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="qty_received" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the number of items already received for the SKU / Shipment combination.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="unit_cost" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the cost for the SKU from the supplier/ origin country.  This field is stored in the supplier's currency.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="weight" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the actual weight of the item on received.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="weight_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the unit of measure of the received weight (e.g. pounds, kilograms).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfDSDReceiptDesc:ExtOfDSDDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize DSDDtl.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DSDNonMerch">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="non_merch_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Code identifying a non-merchandise cost that can be added to an invoice.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="non_merch_amt" type="number20">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Amount of the non-merchandise cost, specified by the non-merchandise code, that has been invoiced for.  This field will be held in the invoice currency.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vat_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Code identifying the VAT rate that should be applied to the non_merch_amt entered.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="service_perf_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if a service non-merchandise cost has actually been performed.  Valid values are 'Y' (service has been performed) or 'N' (service has not been performed or non-merchandise cost is not a service cost).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfDSDReceiptDesc:ExtOfDSDNonMerch">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize DSDNonMerch.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DSDReceipt">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supplier" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unique identifying number for a supplier for the receipt.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="origin_country_id" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The identifier of the country from which the item is being sourced.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dept" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The department in which are all the items on the order. This field is required if the system enforces single department ordering.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="currency_code" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains a code identifying the currency the supplier uses for business transactions.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="paid_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the invoice has already been paid.  Valid values are 'Y' (invoice has already been paid) or 'N' (invoice should be paid in AP system).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ext_ref_no" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="proof_of_delivery_no" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Proof of delivery or service number, given at the time of receipt at the store.  This field will be populated when the invoice is interfaced through ReSA.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="payment_ref_no" type="varchar216">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Reference number attached to the invoice payment, used when the invoice is paid from the POS system and interfaced through ReSA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="payment_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Date when the invoice was paid from the POS system. This field will be populated when the invoice is interfaced through ReSA.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="invc_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Inidcates whether an invoice was created for this receipt by the supplier.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="deals_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Valid values are 'Y' and NULL. This field decides whether deals need to be applied to the order or not.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="DSDDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="DSDNonMerch">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ext_receipt_no" type="varchar217">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the external transaction sequence number for the receipt.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfDSDReceiptDesc:ExtOfDSDReceipt">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize DSDReceipt.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DSDReceiptDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="DSDReceipt">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfDSDReceiptDesc:ExtOfDSDReceiptDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize DSDReceipt.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar217">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 17 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar216">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 16 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar214">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 14 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="14"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>