src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/ItemHdrWHDesc/v1/ItemHdrWHDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemHdrWHDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemHdrWHDesc/v1" xmlns:ExtOfItemHdrWHDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfItemHdrWHDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfItemHdrWHDesc/v1" schemaLocation="../../../../custom/bo/ExtOfItemHdrWHDesc/v1/ExtOfItemHdrWHDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="ItemHdrWHDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="from_location" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="to_location" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemid" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="description" type="varchar21000">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vendornbr" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="containertype" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="conveyableflag" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="stdunitqty" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="hazardmatlcode" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="highvalueind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="department" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="class" type="varchar27">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="singlecontainerbulk" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="subclass" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="expirationdays" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="perishableind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="division" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="putawaybyvolume" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="stdunitfactor" type="number6_2">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda1" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda2" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda3" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda4" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda5" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda6" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda7" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda8" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda9" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda10" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda11" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda12" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda13" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda14" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="itemmasteruda15" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="nonsaleable" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="brand" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fragile" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="rigid" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="standarduom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="uomconvfactor" type="number20_10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfItemHdrWHDesc:ExtOfItemHdrWHDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize ItemHdrWHDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar220">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6_2">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 6_2.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="6"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar27">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 7 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21000">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1000 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>