src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/AddrRBO/v1/AddrRBO.xsd

<xs:schema elementFormDefault="qualified"
    targetNamespace="http://www.oracle.com/retail/integration/base/bo/AddrRBO/v1"
    version="1.0"
    xmlns="http://www.oracle.com/retail/integration/base/bo/AddrRBO/v1"
    xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which 
			contains name space definitions for the document 
			elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:element name="AddrRBO">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not 
				available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="city_id" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the City Id or Code.
				</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="state_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the State name.
				</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="country_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the Country Name. For e.g Brazil,United States
				</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="addr" type="number11">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="addr_type" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the type for the 
							address. Valid values (e.g. 01-business, 02-postal) 
							are in the add_type table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="primary_addr_type_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="primary_addr_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether this address 
							is the primary address for this address 
							type</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="add_1" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="add_2" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="add_3" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="city" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="state" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the postal 
							abbreviation for the state in which the warehouse 
							is located.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="country_id" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar220">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 20 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2240">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 240 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2150">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 150 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2100">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 100 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 6.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number15">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 15.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar29">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 9 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number11">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 11.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>