src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/XMrchHrRclsDesc/v1/XMrchHrRclsDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/XMrchHrRclsDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/XMrchHrRclsDesc/v1" xmlns:ExtOfXMrchHrRclsDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfXMrchHrRclsDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfXMrchHrRclsDesc/v1" schemaLocation="../../../../custom/bo/ExtOfXMrchHrRclsDesc/v1/ExtOfXMrchHrRclsDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="XMrchHrRclsDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="merch_hier_level" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the level of the merchandise hierarchy.  Valid values are V (division), G (group), D (department), C (class), and S (subclass).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="merch_hier_id" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the merchandise hierarchy ID.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="merch_hier_parent_id" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The parent of the hierarchy identified in the merch_hier_id field.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="merch_hier_grandparent_id" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The grandparent of the hierarchy identified in the merch_hier_id field.  This field will only be used when the hierarchy level indicates subclass.  It will contain the number of the department the subclass belongs to.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="merch_hier_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The name of the hierarchy value.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="effective_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The date the hierarchy change will become effective.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="action_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if this field is an addition or modification.  Valid values are A and M.  It is required on a create message and should not be populated on a modify message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="buyer" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of the buyer associated with the entity.  This value must be predefined on the BUYER table.  This field should only hold a value if the hierarchy level indicates division, group, or department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="purchase_type" type="number1">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code which indicates whether items in the department are normal merchandise (0) or consignment stock (1).  This field will only be used if the hierarchy level indicates department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="total_market_amt" type="number24_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The total market amount that is expected for the entity.  This field will only be used if the hierarchy value indicates division or department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="merch" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of the merchandiser associated with the entity.  This value must be predefined on the MERCHANT table.  This field should hold a value only if the hierarchy level indicates division, group, or department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="bud_mkup" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The budgeted markup percentage.  The markup percent of cost.  This field will only be used if the hierarchy level indicates department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="profit_calc_type" type="number1">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number which indicates whether profit will be calculated by direct cost (1) or  retail inventory (2).  This field will only be used if the hierarchy level indicates department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="markup_calc_type" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code letter which indicates how markup is calculated in the department.  This field will only be used if the hierarchy level indicates department.  Valid values are C (cost) and R (retail).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="otb_calc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code letter which indicates how OTB is calculated in the department.  Valid values are cost (C) and retail (R).  This field will only be used if the hierarchy value indicates department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="max_avg_counter" type="number5">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The maximum count of days with acceptable data to include in an average for items with the department.  This field will only be used if the hierarchy level indicates department.  It is required if RPM is installed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="avg_tolerance_pct" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The tolerance percentage value used in averaging for items within this value.  This column will hold 70% as 70, not .70.  This field will only be used if the hierarchy value indicates department.  It is required if RPM is installed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="bud_int" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The budgeted intake percentage.  The percent of the total take that is income.  This field will only be used if the hierarchy value indicates department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dept_vat_incl_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the default value for the class VAT indicator.  When classes are initially set up they will inherit this value.  This field will only be populated when the hierarchy level indicates department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="class_vat_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if retail is displayed and held with or without VAT for items within a class.  Valid values are Y (yes) and N (no).  This field will only be used if the hierarchy level indicates class.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXMrchHrRclsDesc:ExtOfXMrchHrRclsDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XMrchHrRclsDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number24_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 24 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="24"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number5">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 5.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 1.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>