src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/XItemRef/v1/XItemRef.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/XItemRef/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/XItemRef/v1" xmlns:XItemSupCtyMfrRef="http://www.oracle.com/retail/integration/base/bo/XItemSupCtyMfrRef/v1" xmlns:ExtOfXItemRef="http://www.oracle.com/retail/integration/custom/bo/ExtOfXItemRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>	
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/XItemSupCtyMfrRef/v1" schemaLocation="../../XItemSupCtyMfrRef/v1/XItemSupCtyMfrRef.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
	<xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfXItemRef/v1" schemaLocation="../../../../custom/bo/ExtOfXItemRef/v1/ExtOfXItemRef.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="XISCDimRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dim_object" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This node is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXISCDimRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XISCDimRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemUDARef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="uda_id" type="number5">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This node is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="display_type" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="uda_value" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemUDARef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemUDARef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemBOMRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="component_item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The pack item to be deleted.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemBOMRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemBOMRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XISCLocRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hier_id" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The id of the location hierarchy level affected by the message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXISCLocRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XISCLocRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemVATRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vat_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The vat type of the vat item info to be deleted.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="vat_region" type="number6">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The vat region of the vat item info to be deleted.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="vat_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The vat code of the vat item info to be deleted.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="active_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The active date of the vat item info to be deleted.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemVATRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemVATRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemSeasonRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="season_id" type="number3">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This node is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="phase_id" type="number3">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="diff_id" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="color" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemSeasonRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemSeasonRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemImageRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="image_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This node is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemImageRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemImageRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemSupCtyRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origin_country_id" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The supplier country affected by the deletion activity.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XISCLocRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XISCDimRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node that is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemSupCtyRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemSupCtyRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemSupRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supplier" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Item Supplier affected by the deletion activity.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="delete_children_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether the deletion should be applied to all associated item/supplier records below the item level of the item specified on the deletion message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemSupCtyRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemSupCtyMfrRef:XItemSupCtyMfrRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemSupRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemSupRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XItemRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The unique identifier for the item.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="hier_level" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The level of the Organizational Hierarchy of the message.  Valid values are; Chain, Area, Region, District</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemSupRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemVATRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemImageRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node that is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemSeasonRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node that is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemUDARef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node that is not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XItemBOMRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="system_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="upc_supplement" type="number5">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXItemRef:ExtOfXItemRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XItemRef.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number5">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 5.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number3">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>