src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/XMrchHrDeptDesc/v1/XMrchHrDeptDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/XMrchHrDeptDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/XMrchHrDeptDesc/v1" xmlns:ExtOfXMrchHrDeptDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfXMrchHrDeptDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfXMrchHrDeptDesc/v1" schemaLocation="../../../../custom/bo/ExtOfXMrchHrDeptDesc/v1/ExtOfXMrchHrDeptDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="XMrchHrDeptVAT">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vat_region" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of the VAT region to which this department is associated.  This value must be predefined on the VAT_REGION table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="vat_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The alphanumeric identifier of the VAT code.  This value must be predefined on the VAT_CODES table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="vat_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the VAT rate is used for purchasing (C), selling (R), or both (B).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXMrchHrDeptDesc:ExtOfXMrchHrDeptVAT">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XMrchHrDeptVAT.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XMrchHrDeptDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dept" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number which uniquely identifies the department.  This value cannot be modified.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="dept_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The name of the department.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="buyer" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of the buyer associated to the department.  This value must be predefined on the BUYER table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="purchase_type" type="number1">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code which indicates whether items in this department are normal merchandise (0) or consignment stock (1).  This field cannot be modified.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="total_market_amt" type="number24_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The total market amount that is expected for the department.  This value cannot be less than 1000.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="merch" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of the merchandiser that is associated to the department.  This value must be predefined on the MERCHANT table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="group_no" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of the group to which the department belongs.  This value must be predefined on the GROUPS table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="bud_mkup" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The budgeted markup percentage.  The markup percent of cost.  If this value is not populated on the message it will be calculated to be the inverse of the budgeted intake percentage.  This column will hold 70% as 70, not .70.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="profit_calc_type" type="number1">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number which indicates whether profit will be calculated by direct cost (1) or retail inventory (2).  This value cannot be modified.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="markup_calc_type" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code letter that indicates how markup is calculated in this department.  Valid values are cost (C) and retail (R).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="otb_calc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code letter which indicates how OTB is calculated for this department.  Valid values are cost (C) and retail (R).  This value cannot be modified.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="max_avg_counter" type="number5">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The maximum count of days with acceptable data to include in an average for items within the department.  This value is required if RPM is installed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="avg_tolerance_pct" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The tolerance percentage value used in averaging for items within this value.  This column will hold 70% as 70, not .70.  This value is required if RPM is installed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="bud_int" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The budgeted intake percentage.  The percent of the total take that is income.  If this field is not populated on the message it will be calculated as the inverse of the budgeted markup percentage.  This column will hold 70% as 70, not .70.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XMrchHrDeptVAT">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXMrchHrDeptDesc:ExtOfXMrchHrDeptDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XMrchHrDeptDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number24_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 24 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="24"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number5">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 5.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 1.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>