src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/WOStatusDesc/v1/WOStatusDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/WOStatusDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/WOStatusDesc/v1" xmlns:ExtOfWOStatusDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfWOStatusDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfWOStatusDesc/v1" schemaLocation="../../../../custom/bo/ExtOfWOStatusDesc/v1/ExtOfWOStatusDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="WOStatusInvAdj">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from_disposition" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="to_disposition" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="unit_qty" type="number12">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOStatusDesc:ExtOfWOStatusInvAdj">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOStatusInvAdj.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WOStatusDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="wo_id" type="varchar215">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="distro_nbr" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="distro_doc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="distro_parent_nbr" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The higher level transfer that this transfer is part of.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="distro_parent_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The item on which the work order has been completed. If an item transformation occurred, this should be the resultant item.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="wh" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="loc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="location" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="seq_no" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="wip_code" type="varchar29">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="instructions" type="varchar2300">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="complete_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="completed_qty" type="number12">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The quantity of the item on which work has been completed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="completed_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="WOStatusInvAdj">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOStatusDesc:ExtOfWOStatusDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOStatusDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar215">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 15 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2300">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 300 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="varchar29">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>