src/main/resources/schema/ModeloCanonico/EBS/CeA/scua/consultarSmart/ConsultarSmart_v1.wsdl

<definitions name="ConsultarSmart" targetNamespace="http://www.cea.com.br/EBS/CEA/sua/consultarSmart/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.cea.com.br/EBS/CEA/sua/consultarSmart/v1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.cea.com.br/EBS/CEA/sua/consultarSmart/v1" schemaLocation="ConsultarSmartEBS_v1.xsd">
			</xsd:import>
		</xsd:schema>
	</types>
	
	<message name="ConsultarSmartRequestMsg">
		<part name="request" element="tns:ConsultarSmartRequest"/>
	</message>

	<message name="ConsultarSmartResponseMsg">
		<part name="response" element="tns:ConsultarSmartResponse"/>
	</message>

	<message name="SmartNaoEncontradoFaultMsg">
		<part name="SmartNaoEncontradoFault" element="tns:SmartNaoEncontradoFault"/>
	</message>
	
	<message name="TechnicalFaultMsg">
		<part name="TechnicalFault" element="tns:TechnicalFault"/>
	</message>	

	<portType name="ConsultarSmartPortType">

		<operation name="consultarSmart">
			<input message="tns:ConsultarSmartRequestMsg"/>
			<output message="tns:ConsultarSmartResponseMsg"/>
			<fault name="SmartNaoEncontradoFault" message="tns:SmartNaoEncontradoFaultMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			
		</operation>
	</portType>

	<binding name="ConsultarSmartBinding" type="tns:ConsultarSmartPortType">
		<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
		<operation name="consultarSmart">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="SmartNaoEncontradoFault">
				<soap12:fault name="SmartNaoEncontradoFault" use="literal"/>
			</fault>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>			
		</operation>
	</binding>

	<service name="ConsultarSmartService">
		<port name="ConsultarSmartPort" binding="tns:ConsultarSmartBinding">
			<soap12:address location="http://localhost:8080/webserviceScua/service"/>
		</port>
	</service>

</definitions>