src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/InvAdjustDesc/v1/InvAdjustDesc.xsd

<xs:schema elementFormDefault="qualified"
           targetNamespace="http://www.oracle.com/retail/integration/base/bo/InvAdjustDesc/v1" version="1.0"
           xmlns="http://www.oracle.com/retail/integration/base/bo/InvAdjustDesc/v1"
           xmlns:ExtOfInvAdjustDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfInvAdjustDesc/v1"
           xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <retailDoc:annotation>
    <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
  </retailDoc:annotation>
  <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfInvAdjustDesc/v1"
             schemaLocation="../../../../custom/bo/ExtOfInvAdjustDesc/v1/ExtOfInvAdjustDesc.xsd">
    <retailDoc:annotation>
      <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
    </retailDoc:annotation>
  </xs:import>
  <xs:element name="InvAdjustDtl">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item_id" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="adjustment_reason_code" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the reason for inventory adjustment. This field will only have a value for saleable inventory types.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="unit_qty" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="transshipment_nbr" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_disposition" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Used to fetch the inv_status. Also used to determine if the adjustment quantity is negative or positive.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_disposition" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Used to fetch the inv_status. Also used to determine if the adjustment quantity is negative or positive.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_trouble_code" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_trouble_code" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_wip_code" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_wip_code" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="transaction_code" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="user_id" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="create_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="po_nbr" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Either a PO or transfer associated to the inventory adjustment based on the doc_type.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="doc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="aux_reason_code" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="weight" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="weight_uom" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfInvAdjustDesc:ExtOfInvAdjustDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>Provide an extension hook to customize InvAdjustDtl.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvAdjustDesc">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dc_dest_id" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" ref="InvAdjustDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfInvAdjustDesc:ExtOfInvAdjustDesc">
          <retailDoc:annotation>
            <retailDoc:documentation>Provide an extension hook to customize InvAdjustDesc.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="number12_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="12"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar225">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar230">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar210">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar26">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar22">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar24">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar21">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar29">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>