src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/PrcChgExcDtl/v1/PrcChgExcDtl.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/PrcChgExcDtl/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/PrcChgExcDtl/v1" xmlns:ExtOfPrcChgExcDtl="http://www.oracle.com/retail/integration/custom/bo/ExtOfPrcChgExcDtl/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfPrcChgExcDtl/v1" schemaLocation="../../../../custom/bo/ExtOfPrcChgExcDtl/v1/ExtOfPrcChgExcDtl.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="MoneyType">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="decimal_value" type="number20">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="currency_code" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfPrcChgExcDtl:ExtOfMoneyType">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize MoneyType.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NewUnitRetail">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MoneyType">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfPrcChgExcDtl:ExtOfNewUnitRetail">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize NewUnitRetail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BasisUnitRetail">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MoneyType">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfPrcChgExcDtl:ExtOfBasisUnitRetail">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize BasisUnitRetail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CurrentUnitRetail">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MoneyType">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfPrcChgExcDtl:ExtOfCurrentUnitRetail">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize CurrentUnitRetail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PrcChgExcDtl">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="price_change_type" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="NewUnitRetail">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="new_selling_uom" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="from_effective_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="to_effective_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="from_end_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="to_end_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="status" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="CurrentUnitRetail">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="current_selling_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="BasisUnitRetail">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="basis_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="promotion_id" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="promotion_comp_id" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>NA</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfPrcChgExcDtl:ExtOfPrcChgExcDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize PrcChgExcDtl.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>