src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/LineItemTaxRBO/v1/LineItemTaxRBO.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/LineItemTaxRBO/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/LineItemTaxRBO/v1" xmlns:InconclRuleRBO="http://www.oracle.com/retail/integration/base/bo/InconclRuleRBO/v1" xmlns:NameValPairRBO="http://www.oracle.com/retail/integration/base/bo/NameValPairRBO/v1" xmlns:PrdItemTaxRBO="http://www.oracle.com/retail/integration/base/bo/PrdItemTaxRBO/v1" xmlns:SvcItemTaxRBO="http://www.oracle.com/retail/integration/base/bo/SvcItemTaxRBO/v1" xmlns:TaxDetRBO="http://www.oracle.com/retail/integration/base/bo/TaxDetRBO/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>
			This is the root element of this document which
			contains name
			space definitions for the document elements.
		</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/TaxDetRBO/v1" schemaLocation="../../TaxDetRBO/v1/TaxDetRBO.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>
				It's a referenced element. For detailed
				description,
				please refer referenced element doc.
			</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/InconclRuleRBO/v1" schemaLocation="../../InconclRuleRBO/v1/InconclRuleRBO.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>
				It's a referenced element. For detailed
				description,
				please refer referenced element doc.
			</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/PrdItemTaxRBO/v1" schemaLocation="../../PrdItemTaxRBO/v1/PrdItemTaxRBO.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>
				It's a referenced element. For detailed
				description,
				please refer referenced element doc.
			</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/SvcItemTaxRBO/v1" schemaLocation="../../SvcItemTaxRBO/v1/SvcItemTaxRBO.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>
				It's a referenced element. For detailed
				description,
				please refer referenced element doc.
			</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/NameValPairRBO/v1" schemaLocation="../../NameValPairRBO/v1/NameValPairRBO.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>
				It's a referenced element. For detailed
				description,
				please refer referenced element doc.
			</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="LineItemTaxRBO">
        <retailDoc:annotation>
            <retailDoc:documentation>
				Represents the item associated to the
				Nota Fiscal, Purchase Order,Transfer Order or any other
				Transaction
				which has Tax implication.
			</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="document_line_id" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates Unique ID of the item of the
							fiscal document
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="1" name="item_id" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the item id.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pack_item_id" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates pack item id.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="item_tran_code" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the item transaction code.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="taxed_quantity" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the item's taxed quantity.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="taxed_quantity_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the unit of measure of the taxed quantity.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="total_cost" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the total cost.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="deduced_fiscal_code_opr" type="varchar212">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates deduced fiscal code of
							operation.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="icms_cst_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the ICMS CST Code.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pis_cst_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the PIS CST Code.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="cofins_cst_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the COFINS CST Code.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="deduce_icms_cst_code" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates to deduce the ICMS CST Code.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="deduce_pis_cst_code" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates to deduce the PIS CST Code.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="deduce_cofins_cst_code" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates to deduce the COFINS CST Code.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="recoverable_icmsst" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the recoverable ICMSST amount.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="total_cost_with_icms" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the total cost with ICMS.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="unit_cost_with_icms" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the unit cost with ICMS.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="recoverable_base_icmsst" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates the ICMSST base recoverable
							amount.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="unit_cost" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Indicates unit cost of the item.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dim_object" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Specific object whose dimensions are specified in this record.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="length" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Length of dim_object measured in units specified in lwh_uom.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="width" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Width of dim_object measured in units specified in lwh_uom.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="lwh_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unit of measurement for length, width and height.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="weight" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Weight of dim_object measured in units specified in weight_uom.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="net_weight" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Net weight of the dim_object (weight without packaging) measured in units specified in weight_uom.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="weight_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unit of measurement for weight.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="liquid_volume" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Liquid volume, or capacity, of dim_object measured in units specified in colume_uom. Liquid volumes are only convertible to other liquid volumes.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="liquid_volume_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unit of measurement for liquid volume.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="TaxDetRBO:TaxDetRBO">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Represents 1 to many TaxDetRBO.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="InconclRuleRBO:InconclRuleRBO">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Represents 1 to many InconclRuleRBO.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="PrdItemTaxRBO:PrdItemTaxRBO">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							It's a referenced element. For detailed
							description, please refer referenced element
							doc.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="SvcItemTaxRBO:SvcItemTaxRBO">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							It's a referenced element. For detailed
							description, please refer referenced element
							doc.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="NameValPairRBO:NameValPairRBO">
                    <retailDoc:annotation>
                        <retailDoc:documentation>
							Represents 1 to many Name Value Pair objects.
						</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of
				1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of
				4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>
				This type can hold a string of max length of
				6
				characters.
			</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of
				12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of
				25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count
				12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count
				20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>