src/main/resources/schema/ModeloCanonico/EBS/CeA/synchro/gerarNotafiscal/GerarNotaFiscalEBS_v1.xsd

<xsd:schema targetNamespace="http://www.cea.com.br/EBS/CEA/synchro/gerarnotafiscal/v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.cea.com.br/EBS/CEA/synchro/gerarnotafiscal/v1" xmlns:ebo="http://www.cea.com.br/EBO/CEA/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="GerarNotaFiscalEBO_v1.xsd"/>

	<xsd:element name="GerarNotaFiscalRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dof" type="ebo:DOFType" minOccurs="1" maxOccurs="1"/>

				<xsd:element name="idf" type="ebo:ArrayOfIDFType" minOccurs="1" maxOccurs="1"/>

				<xsd:element name="nota-associada" type="ebo:NotaAssociadaType" minOccurs="1" maxOccurs="1"/>
				
				<xsd:element name="meta-informacao" type="ebo:MetaInfType" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GerarNotaFiscalResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="numero-nota" type="xsd:int" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>