src/main/resources/schema/ModeloCanonico/EBO/CeA/v1/commons/MensagemRespostaEBO_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cea.com.br/EBO/CEA/v1"
	xmlns:tns="http://www.cea.com.br/EBO/CEA/v1" elementFormDefault="qualified">

	<element name="MensagemResposta" type="tns:MensagemRespostaType" />

	<complexType name="MensagemRespostaType">
		<sequence>
			<element name="CodigoMensagem" type="int"></element>
			<element name="TextoMensagem" type="string"></element>
		</sequence>
	</complexType>


</schema>