src/main/resources/schema/ModeloCanonico/EBS/CeA/sit/alocacao/Alocacao_v1.wsdl

<definitions name="Consume" targetNamespace="http://www.cea.com.br/EBS/CEA/sit/alocacao" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.cea.com.br/EBS/CEA/sit/alocacao" xmlns:ebo="http://www.cea.com.br/EBO/CEA/v1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="AlocacaoEBO_v1.xsd">
			</xsd:import>
		</xsd:schema>
		
		
		<xsd:schema>
			<xsd:import namespace="http://www.cea.com.br/EBS/CEA/sit/alocacao" schemaLocation="AlocacaoEBS_v1.xsd">
			</xsd:import>
		</xsd:schema>
	</types>

	<message name="MantemAlocacaoToDB2RequestMsg">
		<part name="request" element="tns:MantemAlocacaoToDB2Request"/>
	</message>
	<message name="MantemAlocacaoToDB2ResponseMsg">
		<part name="response" element="tns:MantemAlocacaoToDB2Response"/>
	</message>
	
	<message name="RemoveAlocacaoToDB2RequestMsg">
		<part name="request" element="tns:RemoveAlocacaoToDB2Request"/>
	</message>
	<message name="RemoveAlocacaoToDB2ResponseMsg">
		<part name="response" element="tns:RemoveAlocacaoToDB2Response"/>
	</message>

    <message name="AlocacaoFromDB2RequestMsg">
		<part name="request" element="tns:AlocacaoFromDB2Request"/>
	</message>
	<message name="AlocacaoFromDB2ResponseMsg">
		<part name="response" element="tns:AlocacaoFromDB2Response"/>
	</message>

	<message name="TechnicalFaultMsg">
		<part name="TechnicalFault" element="ebo:TechnicalFault"/>
	</message>
	<message name="BusinessFaultMsg">
		<part name="BusinessFault" element="ebo:BusinessFault"/>
	</message>


	<portType name="SITPortType">
		<operation name="MantemAlocacaoToDB2">
			<input message="tns:MantemAlocacaoToDB2RequestMsg"/>
			<output message="tns:MantemAlocacaoToDB2ResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>
		<operation name="RemoveAlocacaoToDB2">
			<input message="tns:RemoveAlocacaoToDB2RequestMsg"/>
			<output message="tns:RemoveAlocacaoToDB2ResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>
		<operation name="AlocacaoFromDB2">
			<input message="tns:AlocacaoFromDB2RequestMsg"/>
			<output message="tns:AlocacaoFromDB2ResponseMsg"/>
			<fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</operation>
	</portType>

	<binding name="SITBinding" type="tns:SITPortType">
		<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
		<operation name="MantemAlocacaoToDB2">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>
		<operation name="RemoveAlocacaoToDB2">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>
		<operation name="AlocacaoFromDB2">
			<soap12:operation soapAction=""/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="TechnicalFault">
				<soap12:fault name="TechnicalFault" use="literal"/>
			</fault>
			<fault name="BusinessFault">
				<soap12:fault name="BusinessFault" use="literal"/>
			</fault>
		</operation>
	</binding>

	<service name="SITService">
		<port name="SITPort" binding="tns:SITBinding">
			<soap12:address location="http://localhost:8080/referencia/service"/>
		</port>
	</service>

</definitions>