src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/XStoreDesc/v1/XStoreDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/XStoreDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/XStoreDesc/v1" xmlns:ExtOfXStoreDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfXStoreDesc/v1" xmlns:XStoreLocTrt="http://www.oracle.com/retail/integration/base/bo/XStoreLocTrt/v1" xmlns:XStoreWT="http://www.oracle.com/retail/integration/base/bo/XStoreWT/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfXStoreDesc/v1" schemaLocation="../../../../custom/bo/ExtOfXStoreDesc/v1/ExtOfXStoreDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/XStoreWT/v1" schemaLocation="../../XStoreWT/v1/XStoreWT.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/XStoreLocTrt/v1" schemaLocation="../../XStoreLocTrt/v1/XStoreLocTrt.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="XStoreDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="store" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The unique identifier of the store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_name" type="varchar2150">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The name of the store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The one character abbreviation of the store type.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_name10" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The ten character abbreviation of the store name.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_name3" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The three character abbreviation of the store name.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_add1" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The first line of the store's address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_add2" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The second line of the store's address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_city" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The city in which the store is located.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="state" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The postal abbreviation of the state in which the store is located.  This value must be predefined on the STATE table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="country_id" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The identifier of the country in which the store is located.  This value must be predefined in the COUNTRY table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_pcode" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The postal zip code for the store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_class" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code of the class of which the store is a member.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_mgr_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The name of the store manager.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_open_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The date on which the store opened.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_close_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The date on which the store closed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="acquired_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The date on which the store was acquired.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="remodel_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The date on which the store was remodeled.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fax_number" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This type can hold a number of digits count mber.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="phone_number" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This type can hold a number of digits count number.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="email" type="varchar2100">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The email address of the store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="total_square_ft" type="number8">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The total square footage of the store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="selling_square_ft" type="number8">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The total square footage of the store's selling area.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="linear_distance" type="number8">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The total merchandise space of the store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="stockholding_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the store can hold stock.  This field cannot be modified.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="channel_id" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The identifier of the channel.  This value must be predefined on the CHANNELS table.  In a multichannel environment this field is required.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_format" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code of the store format of the store.  This value must be predefined on the STORE_FORMAT table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="mall_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The name of the mall in which the store is located.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="district" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of the district of which the store is a member.  This value must be predefined on the DISTRICT table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="promo_zone" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Field not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="transfer_zone" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The transfer zone in which the store is located.  This value must be predefined on the TSFZONE table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="default_wh" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The default warehouse for the store.  This value must be predefined on the WH table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="stop_order_days" type="number3">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of days before the store close date that the store will stop  accepting orders.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="start_order_days" type="number3">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number of days before the store open date that the store will begin accepting orders.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="currency_code" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code of the currency under which the store operates.  This value must be predefined on the CURRENCIES table.  It cannot be modified.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="lang" type="number6">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The code of the language used at the store.  This value must be predefined on the LANG table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="iso_code" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The character code corresponding to the Language  used at the store</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="integrated_pos_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether the store's POS is integrated.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="duns_number" type="varchar29">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This type can hold a number of digits count umber.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="duns_loc" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The Dun and Bradstreet number to identify the location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="copy_dlvry_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the like store's delivery schedule information should be copied to the new store.  This value cannot be modified.  It will only be populated on a store create message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="copy_activity_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the like store's closing date schedule should be copied to the new store.  This value cannot be modified.  It will only be populated on a store create message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="price_store" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The store from which pricing information will be copied to the new store.  The pricing store does not need the same currency as the new store.  This value is not required on a create message and should not be populated on a modify message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="cost_location" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The location from which to copy cost information to the new store.  This field should only be populated on store create messages.  This value must be predefined on the WH or STORE table.  This value cannot be modified.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vat_include_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether retail prices for the store will contain VAT.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vat_region" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The vat region of which the store is a part.  This value must be predefined on the VAT_REGION table.  It is required if VAT is on in the system.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="like_store" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The store from which the new store will have item\locations copied.  This value must be predefined on the STORE table.  It cannot be modified and will only be populated on a create message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="copy_repl_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether replenishment information should be copied from the like store to the new store.  This field cannot be modified.  It will only be populated on a store create message.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="transfer_entity" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The transfer entity of which the store is a part.  This value must be predefined on the TSF_ENTITY table.  If the system allows intercompany transfers this field is required.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="sister_store" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The store which will be used to relate historical data to the new store.  This value must be predefined on the STORE table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="tran_no_generated" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The level at which unique POS transaction numbers are generated.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="addr_change" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Field not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="county" type="varchar2250">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The county in which the store is located.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XStoreLocTrt:XStoreLocTrt">
                    <retailDoc:annotation>
                        <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XStoreWT:XStoreWT">
                    <retailDoc:annotation>
                        <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
				<xs:element minOccurs="0" name="timezone_name" type="varchar264">
                    <retailDoc:annotation>
                        <retailDoc:documentation>TimeZone name.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
				<xs:element minOccurs="0" name="wf_customer_id" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Customer ID associated with the WF Store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
				<xs:element minOccurs="0" name="org_unit_id" type="number15">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
				<xs:element minOccurs="0" name="store_name_secondary" type="varchar2150">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>				
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfXStoreDesc:ExtOfXStoreDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize XStoreDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar2250">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number3">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number8">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 8.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2240">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar220">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2150">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 150 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2100">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 100 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="number15">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar29">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="varchar264">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 64 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>