src/main/resources/schema/ModeloCanonico/EBS/CeA/synchro/registrarNotaFiscal/RegistrarNotaFiscalEBS_v1.xsd

<xsd:schema targetNamespace="http://www.cea.com.br/EBS/CEA/synchro/registrarnotafiscal/v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.cea.com.br/EBS/CEA/synchro/registrarnotafiscal/v1" xmlns:ebo="http://www.cea.com.br/EBO/CEA/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="RegistrarNotaFiscalEBO_v1.xsd"/>

	<xsd:element name="NotaFiscalRequest">
		<xsd:complexType>
	 		<xsd:sequence>
				<xsd:element name="dof" type="ebo:DOFType" minOccurs="1" maxOccurs="1"/>

				<xsd:element name="idf" type="ebo:ArrayOfIDFType" minOccurs="1" maxOccurs="1"/>
				
				<xsd:element name="meta-informacao" type="ebo:MetaInfType" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="NotaFiscalResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="nota-fiscal-aceita" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>