src/main/resources/schema/ModeloCanonico/EBO/CeA/v1/sit/DeParaItensFromRIS_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	targetNamespace="http://www.cea.com.br/EBO/CEA/v1" 
	elementFormDefault="unqualified" 
	attributeFormDefault="unqualified" 
	version="1.0" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.cea.com.br/EBO/CEA/v1" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">


	<xsd:element name="NFEntradaFromSRF" type="tns:InsereNFRFMType"/>
	
	<xsd:complexType name ="InsereNFAttributes">
		<xsd:sequence>
			<xsd:element name="attribute1" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute2" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute3" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute4" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute5" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute6" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute7" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute8" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute9" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute10" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute11" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute12" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute13" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute14" type="string" nillable="true" minOccurs="0"/>
			<xsd:element name="attribute15" type="string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name = "InsereNFDetalheRFMType">
		<xsd:sequence>
			<xsd:element name="NumeroLinha" type="int" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Numero da linha do documento fiscal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumeroRequisicao" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Identificador do pedido ou da transferencia</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="Item" type="string" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>SKU</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="CodigoNCM" type="string" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>NCM do sku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="CFOP" type="string" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Código do CFOP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>													
			<xsd:element name="Quantidade" type="int" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Quantidade do sku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorUnitario" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor unitario do sku no documento fiscal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorLiquido" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor liquido do sku no documento fiscal</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorTotal" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor total do sku no documento fiscal </xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorDescontos" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Descontos</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="NumeroPack" type="string" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Identificador do pack do sku</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ItemFornecedor" type="string" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Codigo do item para o fornecedor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorTotalPIS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor PIS rateado pelo SKU</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="PercentualPIS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Percentual de taxa de PIS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorBasePIS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do PIS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorTotalCOFINS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor COFINS rateado pelo SKU</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="PercentualCOFINS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Percentual de taxa de COFINS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorBaseCOFINS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do COFINS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorTotalICMS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor ICMS rateado pelo SKU</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="PercentualICMS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Percentual de taxa de ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorBaseICMS" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="ValorTotalIPI" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor ICMS rateado pelo SKU</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="PercentualIPI" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Percentual de taxa de ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorBaseIPI" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="ValorTotalICMSSTT" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor ICMS rateado pelo SKU</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="PercentualICMSSTT" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Percentual de taxa de ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorBaseICMSSTT" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="ValorTotalICMSSTF" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor ICMS rateado pelo SKU</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="PercentualICMSSTF" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Percentual de taxa de ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="ValorBaseICMSSTF" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="ValorRecuperavel" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Percentual de taxa de ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>						
			<xsd:element name="BaseRecuperavel" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="ICMSCST" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="PISCST" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="COFINSCST" type="decimal" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Valor base do ICMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Atributos" nillable="true" type="tns:InsereNFAttributes" minOccurs="0"/>	
												
														
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name ="InsereNFRFMType">		
			<xsd:sequence>
				<xsd:element name="LocalDestino" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Identificador da filial destino</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TipoLocalDestino" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Identifica se a filial destino é uma "S"tore ou um "W"arehouse</xsd:documentation>
					</xsd:annotation>			
				</xsd:element>
				<xsd:element name="LocalOrigem" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Identificador do local de origem</xsd:documentation>
					</xsd:annotation>			
				</xsd:element>
				<xsd:element name="TipoLocalOrigem" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Identifica se a filial origem é uma "S"tore, um "W"arehouse ou um "SU"pplier.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="NumeroNotaFiscal" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Número do documento Fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SerieNotaFiscal" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Série do documento Fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DataEmissaoNotaFiscal" type="dateTime" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Data de emissão do documento Fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="DataEntradaSaida" type="dateTime" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Data da entrada ou saída da mercadoria</xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="NOPFiscal" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>CNPJ do transportador</xsd:documentation>
					</xsd:annotation>
				</xsd:element>		
				<xsd:element name="CNPJTransportador" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>CNPJ do transportador</xsd:documentation>
					</xsd:annotation>
				</xsd:element>				
				<xsd:element name="QuantidadeTotalItens" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Quantidade total de itens no documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorTotalItens" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total dos itens do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorTotalINotaFiscal" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="PesoLiquido" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Peso liquido total das mercadorias da Nota Fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="PesoBruto" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Peso Bruto total das mercadorias da Nota Fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorFrete" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor Total do frete</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorSeguro" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor Total do Seguro</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="OutrosValores" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Outros valores do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorTotalDescontos" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total de descontos</xsd:documentation>
					</xsd:annotation>
				</xsd:element>					
				<xsd:element name="ChaveAcesso" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Chave de acesso da Nota Fiscal Eletronica</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="Comentarios" type="string" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Comentarios adicionais do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorTotalPIS" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total de PIS do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="BasePIS" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Taxa base do PIS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorTotalCOFINS" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total de COFINS do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="BaseCOFINS" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Taxa base do COFINS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="ValorTotalICMS" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total de ICMS do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="BaseICMS" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Taxa base do ICMS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="ValorTotalIPI" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total de ICMS do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="BaseIPI" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Taxa base do ICMS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ValorTotalICMSSTT" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total de ICMS do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="BaseICMSSTT" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Taxa base do ICMS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
				<xsd:element name="ValorTotalICMSSTF" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Valor total de ICMS do documento fiscal</xsd:documentation>
					</xsd:annotation>
				</xsd:element>			
				<xsd:element name="BaseICMSSTF" type="decimal" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Taxa base do ICMS</xsd:documentation>
					</xsd:annotation>
				</xsd:element>		
				<xsd:element name="Atributos" nillable="true" type="tns:InsereNFAttributes" minOccurs="0"/>			
				<xsd:element name="DetalhesNotaFiscal" minOccurs="0" maxOccurs="unbounded" nillable="true" type="tns:InsereNFDetalheRFMType"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="InsereNFRFMTypeList">
			<xsd:sequence>
				<xsd:element name="InsereNFRFM" minOccurs="0" maxOccurs="unbounded" nillable="true" type="tns:InsereNFRFMType"/>
			</xsd:sequence>
		</xsd:complexType>
		
</xsd:schema>