src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/WOOutDesc/v1/WOOutDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/WOOutDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/WOOutDesc/v1" xmlns:ExtOfWOOutDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfWOOutDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfWOOutDesc/v1" schemaLocation="../../../../custom/bo/ExtOfWOOutDesc/v1/ExtOfWOOutDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="WOOutActivity">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activity_id" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A code number indicating the activity that will be performed on the item.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="activity_cost" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The per-unit cost of the finishing activity.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="comments" type="varchar22000">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Any comments regarding this activity.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOOutDesc:ExtOfWOOutActivity">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOOutActivity.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WOOutPackTo">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="to_item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The item resulting from the packing process.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOOutDesc:ExtOfWOOutPackTo">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOOutPackTo.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WOOutPackFrom">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from_item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The item used in the packing process.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOOutDesc:ExtOfWOOutPackFrom">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOOutPackFrom.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WOOutPacking">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="WOOutPackTo">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node - see below.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="WOOutPackFrom">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node - see below.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOOutDesc:ExtOfWOOutPacking">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOOutPacking.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WOOutDtl">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dest_id" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The 'to' location for this transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="item_id" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The item for this portion of the work order.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="wip_seq_nbr" type="number7">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="wip_code" type="varchar29">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="personalization" type="varchar2300">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="instructions" type="varchar2300">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="order_line_nbr" type="number3">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="auto_complete" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="WOOutActivity">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node - see below.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="inv_status" type="number2">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The inventory status of the transfer detail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOOutDesc:ExtOfWOOutDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOOutDtl.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WOOutXForm">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from_item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The original item on the transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="to_item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The item which will result from the finishing activity.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOOutDesc:ExtOfWOOutXForm">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOOutXForm.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WOOutDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="wo_id" type="number15">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The work order number for this finishing activity.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="dc_dest_id" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The 'from' location for tis transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="distro_nbr" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The transfer that this work order is part of.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="WOOutDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node - see below.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="distro_parent_nbr" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The higher level transfer that this transfer belongs to.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="WOOutXForm">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node - see below.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="WOOutPacking">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node - see below.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="inv_type" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A code to indicate whether the inventory on the transfer is available. A = available; U = unavailable.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfWOOutDesc:ExtOfWOOutDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize WOOutDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number3">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number2">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2300">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 300 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22000">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number7">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 7.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number15">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="varchar29">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>