src/main/resources/schema/ModeloCanonico/EBS/CeA/sit/pedido/pedidoimportado/AlteraPedidoImportado_v1.wsdl

<definitions name="Consume" targetNamespace="http://www.cea.com.br/EBS/CEA/sit/pedido/pedidoimportado" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.cea.com.br/EBS/CEA/sit/pedido/pedidoimportado" xmlns:ns1="http://www.cea.com.br/EBS/CEA/sit/pedido/pedidoimportado" xmlns:ebo="http://www.cea.com.br/EBO/CEA/v1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="AlteraPedidoImportadoEBO_v1.xsd">
			</xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.cea.com.br/EBS/CEA/sit/pedido/pedidoimportado" schemaLocation="AlteraPedidoImportadoEBS_v1.xsd">
			</xsd:import>
		</xsd:schema>
	</types>
	
	<message name="consultarPedidoImportadoMsg">
		<part name="request" element="tns:ConsultarPedidoImportadoRequest"/>
	</message>
	<message name="consultarPedidoImportadoResponseMsg">
		<part name="response" element="tns:ConsultarPedidoImportadoResponse"/>
	</message>

	<message name="TechnicalFaultMsg">
		<part name="TechnicalFault" element="ebo:TechnicalFault"/>
	</message>
	<message name="BusinessFaultMsg">
		<part name="BusinessFault" element="ebo:BusinessFault"/>
	</message>	
	
	
	<portType name="AlteraPedidoImportadoPortType">
		<operation name="consultarPedidoImportado">
			<input message="tns:consultarPedidoImportadoMsg"/>
			<output message="tns:consultarPedidoImportadoResponseMsg"/>
			<fault message="tns:BusinessFaultMsg" name="BusinessFaultMsg"/>
			<fault message="tns:TechnicalFaultMsg" name="TechnicalFaultMsg"/>
		</operation>
	</portType>

	<binding name="AlteraPedidoImportadoPortTypeImplPortBinding" type="tns:AlteraPedidoImportadoPortType">
		<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
		<operation name="consultarPedidoImportado">
			<soap12:operation soapAction="http://www.cea.com.br/EBS/CEA/comex/alterapedidoimportado/consultarPedidoImportado"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
			<fault name="BusinessFaultMsg">
				<soap12:fault name="BusinessFaultMsg" use="literal"/>
			</fault>
			<fault name="TechnicalFaultMsg">
				<soap12:fault name="TechnicalFaultMsg" use="literal"/>
			</fault>
		</operation>		
	</binding>

	<service name="AlteraPedidoImportadoPortTypeImplService">
		<port name="AlteraPedidoImportadoPortTypeImplPort" binding="tns:AlteraPedidoImportadoPortTypeImplPortBinding">
			<soap12:address location="http://localhost:7001/WSAlteraPedidoImportado/AlteraPedidoImportadoPortTypeImplService"/>
		</port>
	</service>
	
	
	
</definitions>