src/main/resources/schema/ModeloCanonico/rib/retail/integration/base/bo/RegPrcChgDesc/v1/RegPrcChgDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/RegPrcChgDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/RegPrcChgDesc/v1" xmlns:ExtOfRegPrcChgDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfRegPrcChgDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfRegPrcChgDesc/v1" schemaLocation="../../../../custom/bo/ExtOfRegPrcChgDesc/v1/ExtOfRegPrcChgDesc.xsd">
        <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
        </retailDoc:annotation>
    </xs:import>
    <xs:element name="RegPrcChgDtl">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="price_change_id" type="number15">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the ID of the price change that initiated the ticket request.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Alphanumeric value that identifies the item for which tickets have been requested.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="effective_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Price Change Effective Date</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="selling_retail_changed_ind" type="number1">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether the selling retail price has been changed.  Valid values are '0' - no change or '1' - retail is changed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="selling_unit_retail" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the unit retail for the item at the indicated location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="selling_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Holds the selling unit of measure for an item's single-unit retail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="selling_currency" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the currency code that should match the store's or warehouse's currency code.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="multi_unit_changed_ind" type="number1">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether the retail for multi units has been changed. Valid values are '0' - no change or '1' - retail is changed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="multi_units" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The number that indicate how many item is priced in the multi unit selling retail</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="multi_unit_retail" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the multi-unit retail for the item at the indicated location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="multi_unit_retail_currency" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the currency code that should match the store's or warehouse's currency code.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="multi_selling_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Multi Unit Selling UOM</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfRegPrcChgDesc:ExtOfRegPrcChgDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize RegPrcChgDtl.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegPrcChgDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unique identifier that indicates a Location (Store or Warehouse)</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="loc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the type of location which has requested tickets. Valid values for this field are: 'W' (for warehouse) and 'S' (for store).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="RegPrcChgDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" ref="ExtOfRegPrcChgDesc:ExtOfRegPrcChgDesc">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Provide an extension hook to customize RegPrcChgDesc.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number15">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number1">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 1.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>